@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,800;1,900&display=swap");
body {
  /* background: radial-gradient(circle,#24246e,#06051f); */
  background-color: rgb(22, 18, 37);
  color: white;
  font-family: "Poppins", sans-serif;
}
.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  flex-direction: column;
}

.playOnline {
  font-weight: 700;
  border: none;
  background-color: greenyellow;
  color: black;
  font-size: 60px;
  cursor: pointer;
  margin-top: 40vh;
  padding: 6px 10px;
  border-radius: 5px;
  outline: none;
}

.water-background {
  background-color: #4b495f;
}

.game-heading {
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 40px;
}

.square-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.move-detection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.finished-state {
  font-size: 30px;
  text-align: center;
}

.left,
.right {
  height: 30px;
  width: 120px;
  background-color: red;
  border-bottom-left-radius: 50px;
  background-color: #4b495f;
  border-top-right-radius: 50px;
  padding-top: 7px;
  font-size: 18px;
  padding-bottom: 5px;
  text-align: center;
}

.waiting {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 44px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.current-move-cross {
  background-color: tomato !important;
}

.current-move-circle {
  background-color: tomato !important;
}


@media screen and (max-width:400px) {
  .square-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 18px;
    column-gap: 15px;
  }
  .move-detection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
  }
}